@model ADJ.Common.PagedListResult<ADJ.BusinessService.Dtos.ShipmentManifestsDtos>
@if (Model.Items.Count() == 0)
{
  <p class="uk-text-meta uk-text-large">No matching results were found. Please try again</p>
}
else
{
  @for (var i = 0; i < Model.Items.Count(); i++)
  {
    @Html.HiddenFor(model => model.Items[i].Id, new { Value = Model.Items[i].Id })
    <br />
    <br />
    <div class="uk-grid uk-margin-small">
      <table class="uk-table uk-table-small">
        <thead>
					<tr>
						<td>Origin</td>
						<td>
							Origin Port
						</td>
						<td>
							Mode
						</td>
						<td>
							Carrier
						</td>
						<td>
							Voyage
						</td>
						<td>ETD</td>
						<td>ETA</td>
					</tr>
        </thead>
        <tbody>
					<tr>
						<td>
							@Html.DropDownList("OriginPort", new SelectList(ViewBag.OriginPort), "", new { @id = "originPort", @class = "uk-select" })
						</td>
						<td>
							@Html.DropDownList("Dest", new SelectList(ViewBag.Dest), "", new { @id = "dest", @class = "uk-select" })

						</td>
						<td>
							@Html.DropDownList("Mode", new SelectList(ViewBag.Mode), "", new { @id = "mode", @class = "uk-select" })
						</td>
						<td>
							@Html.DropDownList("Carrier", new SelectList(ViewBag.Status), "", new { @id = "carrier", @class = "uk-select" })
						</td>
						<td>
							<input type="text" value="test" id="voyage" />
						</td>
						<td>
							etd
						</td>
						<td>
							eta
						</td>
					</tr>
        </tbody>
      </table>
			<table class="uk-table uk-table-small">
				<thead>
					<tr>
						<td></td>
						<td>Container</td>
						<td>Size</td>
						<td>Status</td>
					</tr>
				</thead>
				<tbody>
					@for (var j = 0; j < Model.Items[i].Manifests.Count(); j++)
					{
						@Html.HiddenFor(model => model.Items[i].Manifests[j].BookingId, new { Value = Model.Items[i].Manifests[j].BookingId })
						@Html.HiddenFor(model => model.Items[i].Manifests[j].ItemNumber, new { Value = Model.Items[i].Manifests[j].ItemNumber })
						@Html.HiddenFor(model => model.Items[i].Manifests[j].BookingQuantity, new { Value = Model.Items[i].Manifests[j].BookingQuantity })
						@Html.HiddenFor(model => model.Items[i].Manifests[j].Id, new { Value = Model.Items[i].Manifests[j].Id })
						@Html.HiddenFor(model => model.Items[i].Manifests[j].OpenQuantity, new { Value = Model.Items[i].Manifests[j].OpenQuantity })
						<tr>
							<td>
								@if (Model.Items[i].Id == 0)
								{
									<input type="checkbox" asp-for="Items[i].selectedContainer" />
								}
							</td>
							<td>
								@Model.Items[i].Name
							</td>
							<td>
								@Model.Items[i].Size
							</td>
							<td>
								@Model.Items[i].Status
							</td>
						</tr>
					}
				</tbody>
			</table>
    </div>
  }
  <div class="uk-align-right">
    <ul class="uk-pagination">
      @{
        if (ViewBag.pageIndex > 1)
        {
          <li><a asp-action="Index" asp-controller="Manifest" asp-route-pageIndex="@(ViewBag.pageIndex - 1)" class="page-link"><span uk-pagination-previous></span></a></li>
        }
        for (var i = 1; i <= Model.PageCount; i++)
        {
          if (i == ViewBag.pageIndex)
          {
            <li class="uk-disabled">
              <a asp-action="Index" asp-controller="Manifest" asp-route-pageIndex="@i" class="page-link">@i</a>
            </li>
          }
          else
          {
            <li class="uk-active">
              <a asp-action="Index" asp-controller="Manifest" asp-route-pageIndex="@i" class="page-link">@i</a>
            </li>
          }
        }
        if (ViewBag.pageIndex < Model.PageCount)
        {
          <li><a asp-action="Index" asp-controller="Manifest" asp-route-pageIndex="@(ViewBag.pageIndex + 1)" class="page-link"><span uk-pagination-next></span></a></li>
        }
      }

    </ul>
  </div>
}