@model ADJ.Common.PagedListResult<ADJ.BusinessService.Dtos.ContainerDto>
<form id="manifest" asp-action="CreateOrUpdate" asp-controller="Manifest">



		<form asp-action="Index"
					asp-controller="Order" method="get">
			@*header*@
			<div class="uk-grid uk-width-1-1 vessel-header">
				<div class="uk-width-2-5">
					<form class="uk-form-horizontal uk-margin-large">
						<div class="uk-margin">
							<label class="uk-form-label vessel-header-label" for="form-horizontal-select">Origin</label>
							<div class="uk-form-controls vassell-header-formSelect">

								@Html.DropDownList("Origins", new SelectList(ViewBag.Origins), "Any", new { @id = "Origins", @class = "uk-select" })

							</div>
						</div>

						<div class="uk-margin">
							<label class="uk-form-label vessel-header-label" for="form-horizontal-select">Origin Port</label>
							<div class="uk-form-controls vassell-header-formSelect">

								@Html.DropDownList("OriginPorts", new SelectList(ViewBag.OriginPorts), "Any", new { @id = "OriginPorts", @class = "uk-select" })

							</div>
						</div>

						<div class="uk-margin">
							<label class="uk-form-label vessel-header-label" for="form-horizontal-select">Loading</label>
							<div class="uk-form-controls vassell-header-formSelect">
								@Html.DropDownList("Loading", new SelectList(ViewBag.Loading), "Any", new { @id = "Loadings", @class = "uk-select" })
							</div>
						</div>

						<div class="uk-margin">
							<label class="uk-form-label vessel-header-label" for="form-horizontal-text">Warehouse</label>
							<div class="uk-form-controls vassell-header-formSelect">
								<input class="uk-input" id="Warehouses" type="text" placeholder="Some text...">
							</div>
						</div>

						<div class="uk-margin">
							<label class="uk-form-label vessel-header-label" for="form-horizontal-select">Status</label>
							<div class="uk-form-controls vassell-header-formSelect">
								@Html.DropDownList("Status", new SelectList(ViewBag.Status), "Any", new { @id = "Statuses", @class = "uk-select" })
							</div>
						</div>

					</form>
				</div>

				<div class="uk-width-2-5">
					<form class="uk-form-horizontal uk-margin-large">
						<div class="uk-margin">
							<label class="uk-form-label vessel-header-label" for="form-horizontal-select">Vendor</label>
							<div class="uk-form-controls vassell-header-formSelect">
								
									@Html.DropDownList("Vendors", new SelectList(ViewBag.Vendors), "Any", new { @id = "Vendors", @class = "uk-select" })

							</div>
						</div>

						<div class="uk-margin">
							<label class="uk-form-label vessel-header-label" for="form-horizontal-select">ETD From</label>
							<div class="uk-form-controls vassell-header-formSelect">
								<input id="ETDFroms" type="date" class="uk-input">
							</div>
						</div>

						<div class="uk-margin">
							<label class="uk-form-label vessel-header-label" for="form-horizontal-select">ETD To</label>
							<div class="uk-form-controls vassell-header-formSelect">
								<input id="ETDTos" type="date" class="uk-input">
							</div>
						</div>

						<div class="uk-margin">
							<label class="uk-form-label vessel-header-label" for="form-horizontal-text">PO Number</label>
							<div class="uk-form-controls vassell-header-formSelect">
								<input class="uk-input" id="PONumberSearches" type="text" placeholder="Some text...">
							</div>
						</div>

						<div class="uk-margin">
							<label class="uk-form-label vessel-header-label" for="form-horizontal-text">Item</label>
							<div class="uk-form-controls vassell-header-formSelect">
								<input class="uk-input" id="itemSearches" type="text" value="@Model.CurrentFilter" placeholder="Some text...">
							</div>
						</div>

					</form>
				</div>
				<div class="uk-width-1-5">
					<p uk-margin>
						<button type="button" class="filterItem uk-button uk-button-primary" value=1>Search</button>
					</p>
					<p uk-margin>
						<input id="Achieve" class="uk-button uk-button-danger" type="submit" data-uk-button value="Achieve">
					</p>
				</div>
			</div> @*end header*@
		</form>

	<div id="renderSearching">
		@for (var i = 0; i < Model.Items.Count(); i++)
		{
			@Html.HiddenFor(model => model.Items[i].Id, new { Value = Model.Items[i].Id })
			<br />
			<br />
			<div>
				<table class="uk-table uk-table-small">
					<thead>
						<tr>
							<td>Origin Port</td>
							<td>Dest Port</td>
							<td>Mode</td>
							<td>Carrier</td>
							<td>Voyage</td>
							<td>ETD</td>
							<td>ETA</td>
							<td>Transhipment</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								@Html.DropDownList("Origins", new SelectList(ViewBag.Origins), "Any", new { @id = "Origins", @class = "uk-select" })
								@*<input type="checkbox" asp-for="Items[i].selectedContainer" />*@
							</td>
							<td>
								@Html.DropDownList("Dest", new SelectList(ViewBag.Dest), "Any", new { @id = "Dest", @class = "uk-select" })
								@*<input id="containerName" asp-for="Items[i].Name" class="uk-input" />
									<span class="uk-text-danger" asp-validation-for="Items[i].Name" id="validationName" hidden></span>*@
							</td>
							<td>
								@Html.DropDownListFor(model=>model.Items[i].Loading,
										new SelectList(ViewBag.Loading),Model.Items[i].Loading, new { @class = "uk-input" })
							</td>
							<td>
								@Html.DropDownList("Carriers", new SelectList(ViewBag.Carriers), "Any", new { @id = "Carriers", @class = "uk-select" })
							</td>
							<td>
								@Html.DropDownList("Voyages", new SelectList(ViewBag.Voyages), "Any", new { @id = "Voyages", @class = "uk-select" })
							</td>
							<td></td>
							<td></td>
							<td>
								@Html.DropDownList("Transhipments", new SelectList(ViewBag.Transhipments), "Any", new { @id = "Transhipments", @class = "uk-select" })
							</td>
						</tr>
					</tbody>
				</table>
				<table class="uk-table uk-table-small">
					<thead>
						<tr>
							<td></td>
							<td>Container</td>
							<td>Size</td>
							<td>Status</td>
						</tr>
					</thead>
					<tbody>
						@foreach(var container in Model.Items)
						{
						<tr>
							<td>
								<input type="checkbox" />
							</td>
							<td>@container.Name</td>
							<td>@container.Size</td>
							<td>@container.Status</td>
						</tr>
						}

						
					</tbody>
				</table>
			</div>
		}
		<div>
			<ul class="uk-pagination">
				@for (var i = 1; i <= Model.PageCount; i++)
				{
					if (i == ViewBag.pageIndex)
					{
						<li class="uk-disabled">
							<a asp-action="Index" asp-controller="VesselDeparture" asp-route-pageIndex="@i" class="page-link">@i</a>
						</li>
					}
					else
					{
						<li class="uk-active">
							<a asp-action="Index" asp-controller="VesselDeparture" asp-route-pageIndex="@i" class="page-link">@i</a>
						</li>
					}
				}
			</ul>
		</div>
	</div>
	<br />
	<br />
</form>
@*@if (ViewBag.modalResult != null)
{
	string result = ViewBag.modalResult;
	<button type="button" uk-toggle="target: #modal-center" id="openmodal" hidden="hidden">Open</button>
	<div id="modal-center" class="uk-flex-top" uk-modal>
		<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
			<button class="uk-modal-close-default" type="button" uk-close></button>
			@{
				if (result == "success")
				{
					<p class="uk-text-success">Your shipment is successfully manifested</p>
				}
				else if (result == "invalid")
				{
					<p class="uk-text-danger">Ship Quantity is invalid, please try again</p>
				}
			}
		</div>
	</div>
}*@
<script src="~/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
  $(document.body).on('click', '.filterItem', function () {
    var pageIndex = $(this).attr("value");
        $.ajax({
            type: "GET",
            dataType:"html",
            url: "@Url.Action("Index", "VesselDeparture")",
            data: {
              pageIndex: pageIndex,
              Origin: $('#Origins').val(),
              OriginPort: $('#OriginPorts').val(),
              Loading: $('#Loadings').val(),
              ETDFrom: $('#ETDFroms').val(),
							ETDTo: $('#ETDTos').val(),
							Status: $('#Statuses').val(),
							Vendor:$('#Vendors'),
              PONumber: $('#PONumberSearches').val(),
              Item: $('#ItemSearches').val(),
              Warehouse:$('#Warehouses'),
              checkClick: true,
            },
            success: function (data) {
                $('#renderSearching').html(data);
            }
        });
  });
  $("#Achieve").click(function (event) {
    if (!confirm('Are you sure that you want to submit the form'))
      event.preventDefault();
  });
  $(document).ready(function () {
     $('#openmodal').trigger('click');
  });
  $('#manifest').submit(function () {
    if ($('#containerName').val() == "" || $('#shipQuantity').val() == "") {
      alert("Please fill in all Required fields.")
    }
  });
</script>



