
@model IEnumerable<ADJ.BusinessService.Dtos.OrderDto>

@{
	ViewData["Title"] = "Display";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start table -->
<table class="uk-table uk-table-striped content-table">
	<thead>
		<tr>
			<th>PO Number</th>
			<th>PO Date</th>
			<th>Origin</th>
			<th>Part Of Loading</th>
			<th>Part Of Delivery</th>
			<th>Suppier</th>
			<th>PO Ship Date</th>
			<th>PO City</th>
			<th>Status</th>
			<th>PO Delivery Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var i in Model)
		{
			<tr>
				<td>@i.PONumber</td>
				<td>@i.OrderDate.ToString("dd MM yyyy")</td>
				<td>@i.Supplier</td>
				<td>@i.Origin</td>
				<td>@i.PortOfLoading</td>
				<td>@i.ShipDate.ToString("dd MM yyyy")</td>
				<td>@i.DeliveryDate.ToString("dd MM yyyy")</td>
				<td>@i.PortOfDelivery</td>
				<td>@i.Quantity</td>
				<td>@i.Status</td>
				<td><a href="#"><span class="fa-fa-pencil-square-o"></span></a><a href="#"><span class="fa-fa-file-o"></span></a></td>
			</tr>
		}

	</tbody>
</table> <!-- end content-table -->
<div class="massage-null"><p>@ViewBag.Massage</p></div>
<div style="clear:both"></div>
