@model ADJ.Common.PagedListResult<ADJ.BusinessService.Dtos.DCBookingDtos>
<br />
<br />
<div class="uk-grid">
  <table class="uk-table uk-table-small">
    <thead>
      <tr>
        <td></td>
        <td>
          Container
        </td>
        <td>
          Dest Port
        </td>
        <td>
          Arrival Date
        </td>
        <td>
          Ship Carton
        </td>
        <td>
          Ship Cube
        </td>
        <td>
          Ship Quantity
        </td>
        <td>
          DC
        </td>
        <td>
          Haulier
        </td>
        <td>
          Client
        </td>
        <td>
          Booking Date
        </td>
        <td>
          Booking Time
        </td>
        <td>
          Booking Ref
        </td>
        <td>
          Status
        </td>
      </tr>
    </thead>
    <tbody>
      @{
        if (Model.Items.Count() > 0)
        {
          for (int i = 0; i < Model.Items.Count(); i++)
          {
            @Html.HiddenFor(model => model.Items[i].Id, new { Value = Model.Items[i].Id })
            @Html.HiddenFor(model => model.Items[i].ContainerId, new { Value = Model.Items[i].ContainerId })
            <tr>
              <td>
                @if (Model.Items[i].Id == 0)
                {
                  <input asp-for="Items[i].selected" class="uk-checkbox" />
                }
              </td>
              <td>
                @Model.Items[i].Name
                @Html.HiddenFor(model => model.Items[i].Name)
              </td>
              <td>
                @Model.Items[i].DestPort
                @Html.HiddenFor(model => model.Items[i].DestPort)
              </td>
              <td>
                @Model.Items[i].ArrivalDate.ToString("MM/dd/yyyy")
                @Html.HiddenFor(model => model.Items[i].ArrivalDate)

              </td>
              <td>
                @Model.Items[i].ShipCarton
                @Html.HiddenFor(model => model.Items[i].ShipCarton)
              </td>
              <td>
                @Model.Items[i].ShipCube
                @Html.HiddenFor(model => model.Items[i].ShipCube)
              </td>
              <td>
                @Model.Items[i].ShipQuantity
                @Html.HiddenFor(model => model.Items[i].ShipQuantity)
              </td>
              <td>
                @{
                  if (Model.Items[i].Id > 0)
                  {
                    @Model.Items[i].DistributionCenter
                    @Html.HiddenFor(model => model.Items[i].DistributionCenter)
                  }
                  else
                  {
                    <select style="width:150px" asp-for="Items[i].DistributionCenter" asp-items="new SelectList(ViewBag.DC)" class="uk-input"></select>
                  }
                }
              </td>
              <td>
                @{
                  if (Model.Items[i].Id > 0)
                  {
                    @Model.Items[i].Haulier
                    @Html.HiddenFor(model => model.Items[i].Haulier)

                  }
                  else
                  {
                    <select asp-for="Items[i].Haulier" asp-items="new SelectList(ViewBag.Haulier)" class="uk-input"></select>
                  }
                }
              </td>
              <td>
                @{
                  if (Model.Items[i].Id > 0)
                  {
                    @Model.Items[i].Client
                    @Html.HiddenFor(model => model.Items[i].Client)
                  }
                  else
                  {
                    <input asp-for="Items[i].Client" class="uk-input" />
                    <span class="uk-text-danger" asp-validation-for="Items[i].Client"></span>
                  }
                }

              </td>
              <td>
                @{
                  if (Model.Items[i].Id > 0)
                  {
                    @Model.Items[i].BookingDate.ToString("MM/dd/yyyy")
                    @Html.HiddenFor(model => model.Items[i].BookingDate)
                  }
                  else
                  {
                    <input asp-for="Items[i].BookingDate" class="uk-input" type="date" />
                    <span class="uk-text-danger" asp-validation-for="Items[i].BookingDate"></span>
                  }
                }

              </td>
              <td>
                @{
                  if (Model.Items[i].Id > 0)
                  {
                    @Model.Items[i].BookingTime
                    @Html.HiddenFor(model => model.Items[i].BookingTime)
                  }
                  else
                  {
                    <input asp-for="Items[i].BookingTime" class="uk-input" placeholder="ex: 10:45" />
                    <span class="uk-text-danger" asp-validation-for="Items[i].BookingTime"></span>
                  }
                }

              </td>
              <td>
                @{
                  if (Model.Items[i].Id > 0)
                  {
                    @Model.Items[i].BookingRef
                    @Html.HiddenFor(model => model.Items[i].BookingRef)

                  }
                  else
                  {
                    <input asp-for="Items[i].BookingRef" class="uk-input" />
                    <span class="uk-text-danger" asp-validation-for="Items[i].BookingRef"></span>
                  }
                }
              </td>
              <td style="color:darkorange">
                @Html.HiddenFor(model => model.Items[i].Status)
                @Model.Items[i].Status
              </td>
            </tr>
          }
        }
      }
    </tbody>
  </table>
</div>
@if (ViewBag.ShowResult == "success")
{
  string result = ViewBag.modalResult;
  <button type="button" uk-toggle="target: #modal-success" id="successmodal" hidden="hidden">Open</button>
  <div id="modal-success" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <p class="uk-text-success">Your Delivery is successfully made</p>
    </div>
  </div>
}
@*<div class="uk-align-right">
    <ul class="uk-pagination">
      @{
        if (ViewBag.pageIndex > 1)
        {
          <li><a value="@(ViewBag.pageIndex - 1)" class="filterItem page-link"><span uk-pagination-previous></span></a></li>
        }
        for (var i = 1; i <= Model.PageCount; i++)
        {
          if (i == ViewBag.pageIndex)
          {
            <li class="uk-disabled">
              <a value="@i" class="page-link"><u>@i</u></a>
            </li>
          }
          else
          {
            <li class="uk-active">
              <a value="@i" class="filterItem page-link">@i</a>
            </li>
          }
        }
        if (ViewBag.pageIndex < Model.PageCount)
        {
          <li><a value="@(ViewBag.pageIndex + 1)" class="filterItem page-link"><span uk-pagination-next></span></a></li>
        }
      }
    </ul>
  </div>*@