@model ADJ.Common.PagedListResult<ADJ.BusinessService.Dtos.DCBookingDtos>
<form id="manifest" asp-action="CreateOrUpdate" asp-controller="Manifest">
  <div class="uk-container">
    <div class="uk-grid">
      <div class="uk-width-1-3">
        <table class="uk-table">
          <tbody>
            <tr>
              <td><label>Destination Port</label></td>
              <td>
                <div class="uk-form-select" data-uk-form-select>
                  @Html.DropDownList("DestinationPort", new SelectList("ViewBag.Dest"), new { @id = "DestinationPort", @class = "uk-select" })
                </div>
              </td>
            </tr>
            <tr>
              <td><label>Booking Ref</label></td>
              <td>
                <input id="bookingref" class="uk-input" type="number" />
              </td>
            </tr>
            <tr>
              <td><label>Booking Date From</label></td>
              <td>
                <input id="bookingdatefrom" type="date" class="uk-input">
              </td>
            </tr>
            <tr>
              <td><label>Booking Date to</label></td>
              <td>
                <input id="bookingdateto" type="date" class="uk-input">
              </td>
            </tr>
            <tr>
              <td><label>Status</label></td>
              <td>
                <div class="uk-form-select" data-uk-form-select>
                  @Html.DropDownList("Status", new SelectList("ViewBag.Dest"), new { @id = "Status", @class = "uk-select" })
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="uk-width-1-3">
        <table class="uk-table">
          <tbody>
            <tr>
              <td><label>DC</label></td>
              <td>
                <div class="uk-form-select" data-uk-form-select>
                  @Html.DropDownList("DC", new SelectList("DC"), new { @id = "DC", @class = "uk-select" })
                </div>
              </td>
            </tr>
            <tr>
              <td><label>Arrival Date From</label></td>
              <td>
                <input id="arrivaldatefrom" type="date" class="uk-input">
              </td>
            </tr>
            <tr>
              <td><label>Arrival Date To</label></td>
              <td>
                <input id="arrivaldateto" type="date" class="uk-input">
              </td>
            </tr>
            <tr>
              <td><label>Container</label></td>
              <td>
                <input id="Container" class="uk-input" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="uk-width-1-3">
        <table class="uk-table">
          <tbody>
            <tr>
              <td>
                <button type="button" class="filterItem uk-button uk-button-primary" value=1>Search</button>
              </td>
            </tr>
            <tr>
              <td>
                <button id="achieve" type="submit" class="uk-button uk-button-danger">Achieve</button>
              </td>
            </tr>

          </tbody>
        </table>

      </div>

    </div>
    <div id="renderSearching">
      <br />
      <br />
      <div class="uk-grid">
        <table class="uk-table uk-table-small">
          <thead>
            <tr>
              <td></td>
              <td>
                Container
              </td>
              <td>
                Dest Port
              </td>
              <td>
                Arrival Date
              </td>
              <td>
                Ship Carton
              </td>
              <td>
                Ship Cube
              </td>
              <td>
                Ship Quantity
              </td>
              <td>
                DC
              </td>
              <td>
                Haulier
              </td>
              <td>
                Client
              </td>
              <td>
                Booking Date
              </td>
              <td>
                Booking Ref
              </td>
              <td>
                Status
              </td>
            </tr>
          </thead>
          <tbody>
            @{
              if (Model.Items.Count() > 0)
              {
                for (int i = 0; i < Model.Items.Count(); i++)
                {
                  <tr>
                    <td>
                      <input asp-for="Items[i].selected" class="uk-checkbox" />
                    </td>
                    <td>
                      @Model.Items[i].Name
                    </td>
                    <td>
                      @Model.Items[i].DestPort
                    </td>
                    <td>
                      @Model.Items[i].ArrivalDate
                    </td>
                    <td>
                      @Model.Items[i].ShipCarton
                    </td>
                    <td>
                      @Model.Items[i].ShipCube
                    </td>
                    <td>
                      @Model.Items[i].ShipQuantity
                    </td>
                    <td>
                      @{
                        if (Model.Items[i].Id > 0)
                        {
                          @Model.Items[i].DistributionCenter
                        }
                        else
                        {
                          <select asp-for="Items[i].DistributionCenter" asp-items="new SelectList(ViewBag.DC)" class="uk-input"></select>
                        }
                      }
                    </td>
                    <td>
                      @{
                        if (Model.Items[i].Id > 0)
                        {
                          @Model.Items[i].Haulier
                        }
                        else
                        {
                          <select asp-for="Items[i].Haulier" asp-items="new SelectList(ViewBag.Haulier)" class="uk-input"></select>
                        }
                      }
                    </td>
                    <td>
                      @{
                        if (Model.Items[i].Id > 0)
                        {
                          @Model.Items[i].Client
                        }
                        else
                        {
                          <input asp-for="Items[i].Client" class="uk-input" />
                        }
                      }

                    </td>
                    <td>
                      @{
                        if (Model.Items[i].Id > 0)
                        {
                          @Model.Items[i].BookingDate
                        }
                        else
                        {
                          <input asp-for="Items[i].BookingDate" class="uk-input" type="date" />
                        }
                      }

                    </td>
                    <td>
                      @{
                        if (Model.Items[i].Id > 0)
                        {
                          @Model.Items[i].BookingRef
                        }
                        else
                        {
                          <input asp-for="Items[i].BookingRef" class="uk-input" />
                        }
                      }

                    </td>
                    <td>
                      @Model.Items[i].Status
                    </td>
                  </tr>
                }
              }
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br />
  <br />
</form>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
   $(document.body).on('click', '.filterItem', function () {
    var pageIndex = $(this).attr("value");
        $.ajax({
            type: "GET",
            dataType:"html",
            url: "@Url.Action("Index", "DCBooking")",
            data: {
              pageIndex: pageIndex,
              DestinationPort: $('#DestinationPort').val(),
              bookingref: $('#bookingref').val(),
              bookingdatefrom: $('#bookingdatefrom').val(),
              bookingdateto: $('#bookingdateto').val(),
              DC: $('#DC').val(),
              arrivaldatefrom: $('#arrivaldatefrom').val(),
              arrivaldateto: $('#arrivaldateto').val(),
              Status: $('#Status').val(),
              Container: $('#Container').val(),
              checkClick: true,
            },
            success: function (data) {
                $('#renderSearching').html(data);
            }
        });
  });
</script>

