@model ADJ.BusinessService.Dtos.DCReceivedDtos;
<!--Result Popup-->
@if (ViewBag.ShowModal != null)
{
  string modal = ViewBag.ShowModal;
  <button type="button" uk-toggle="target: #resultModal" id="openmodal" hidden="hidden">Open</button>

  <div id="resultModal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      @switch (modal)
      {
        case "Updated":
          <p>Delivery event is achieve successfully. Thank you.</p>
          break;
        case "NoResult":
          break;
        case "NoItem":
          <p>Please select at least 1 item.</p>
          break;
      }

      <p class="uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
      </p>

    </div>
  </div>
}

@if ((Model.ResultDtos != null) && (Model.ResultDtos.Items != null) && (Model.ResultDtos.Items.Count > 0))
{
  <div class="uk-grid">
    <table class="uk-table uk-table-small uk-table-middle uk-table-striped">
      <thead>
        <tr>
          <td>
            <input type="checkbox" id="checkAll" class="uk-checkbox" />
          </td>
          <td>
            <label asp-for="ResultDtos.Items[0].ContainerName"></label>
          </td>
          <td>
            <label asp-for="ResultDtos.Items[0].DC"></label>
          </td>
          <td>
            <label asp-for="ResultDtos.Items[0].Haulier"></label>
          </td>
          <td>
            <label asp-for="ResultDtos.Items[0].BookingDate"></label>
          </td>
          <td>
            <label asp-for="ResultDtos.Items[0].BookingTime"></label>
          </td>
          <td>
            <label asp-for="ResultDtos.Items[0].BookingRef"></label>
          </td>
          <td>
            <label asp-for="ResultDtos.Items[0].DeliveryDate"></label>
          </td>
          <td>
            <label asp-for="ResultDtos.Items[0].DeliveryTime"></label>
          </td>
          <td>
            <label asp-for="ResultDtos.Items[0].Status"></label>
          </td>
        </tr>
      </thead>

      @for (int i = 0; i < Model.ResultDtos.Items.Count; i++)
      {
        <tr>
          <td style="display: none">
            <input type="hidden" asp-for="ResultDtos.Items[i].ContainerId" value=@Model.ResultDtos.Items[i].ContainerId />
            <input type="hidden" asp-for="ResultDtos.Items[i].ContainerName" value=@Model.ResultDtos.Items[i].ContainerName />
            <input type="hidden" asp-for="ResultDtos.Items[i].DC" value=@Model.ResultDtos.Items[i].DC />
            <input type="hidden" asp-for="ResultDtos.Items[i].Haulier" value=@Model.ResultDtos.Items[i].Haulier />
            <input type="hidden" asp-for="ResultDtos.Items[i].BookingDate" value=@Model.ResultDtos.Items[i].BookingDate />
            <input type="hidden" asp-for="ResultDtos.Items[i].BookingTime" value=@Model.ResultDtos.Items[i].BookingTime />
            <input type="hidden" asp-for="ResultDtos.Items[i].BookingRef" value=@Model.ResultDtos.Items[i].BookingRef />
            <input type="hidden" asp-for="ResultDtos.Items[i].Status" value=@Model.ResultDtos.Items[i].Status />
            <input type="hidden" asp-for="ResultDtos.Items[i].StatusDescription" value=@Model.ResultDtos.Items[i].StatusDescription />
          </td>
          <td>
            @if (Model.ResultDtos.Items[i].Status == ADJ.Common.ContainerStatus.DCBookingReceived)
            {
              <input type="checkbox" asp-for="ResultDtos.Items[i].Selected" class="uk-checkbox checkBox" />
            }
          </td>
          <td>@Model.ResultDtos.Items[i].ContainerName</td>
          <td>
            @if (Model.ResultDtos.Items[i].DC == null)
            {
              <span>N/A</span>
            }
            else
            {
              <span>@Model.ResultDtos.Items[i].DC</span>
            }
          </td>
          <td>
            @if (Model.ResultDtos.Items[i].Haulier == null)
            {
              <span>N/A</span>
            }
            else
            {
              <span>@Model.ResultDtos.Items[i].Haulier</span>
            }
          </td>
          <td>@Model.ResultDtos.Items[i].BookingDate.ToString("MM/dd/yyyy")</td>
          <td>@Model.ResultDtos.Items[i].BookingTime</td>
          <td>
            @if (Model.ResultDtos.Items[i].BookingRef == null)
            {
              <span>N/A</span>
            }
            else
            {
              <span>@Model.ResultDtos.Items[i].BookingRef</span>
            }
          </td>
          @if (Model.ResultDtos.Items[i].Status == ADJ.Common.ContainerStatus.DCBookingReceived)
          {
            <td>
              <input asp-for="ResultDtos.Items[i].DeliveryDate" type="date" class="uk-input filters" value=@Model.ResultDtos.Items[i].BookingDate.ToString("yyyy-MM-dd") />
              <span asp-validation-for="ResultDtos.Items[i].DeliveryDate" class="uk-alert-danger"></span>
            </td>
            <td>
              <input asp-for="ResultDtos.Items[i].DeliveryTime" class="uk-input filters" value=@Model.ResultDtos.Items[i].DeliveryTime />
              <span asp-validation-for="ResultDtos.Items[i].DeliveryTime" class="uk-alert-danger"></span>
            </td>
          }
          else
          {
            <td style="display: none">
              <input type="hidden" asp-for="ResultDtos.Items[i].DeliveryDate" value=@Model.ResultDtos.Items[i].DeliveryDate />
              <input type="hidden" asp-for="ResultDtos.Items[i].DeliveryTime" value=@Model.ResultDtos.Items[i].DeliveryTime />
            </td>
            <td>@Model.ResultDtos.Items[i].DeliveryDate.ToString("MM/dd/yyyy")</td>
            <td>@Model.ResultDtos.Items[i].DeliveryTime</td>
          }
          <td>@Model.ResultDtos.Items[i].StatusDescription</td>
        </tr>
      }
    </table>
  </div>

  <!--Paging-->
  int currentPage = ViewBag.Page;
  int totalPage = Model.ResultDtos.PageCount;

  <ul class="uk-pagination uk-flex-right">
    @if (currentPage > 1)
    {
      <li><a value="@(currentPage - 1)" name="page" class="paging"><span uk-pagination-previous></span></a></li>
    }

    @for (int i = 1; i <= totalPage; i++)
    {
      if (i == currentPage)
      {
        <li class="uk-disabled"><a value="@i" name="page" class="paging"><u>@i</u></a></li>
      }
      else
      {
        <li><a value="@i" name="page" class="paging">@i</a></li>
      }
    }

    @if (currentPage < totalPage)
    {
      <li><a value="@(currentPage + 1)" name="page" class="paging"><span uk-pagination-next></span></a></li>
    }
  </ul>
}
else
{
  <p class="uk-text-meta uk-text-large">No matching results were found. Please try again</p>
}

