@model List<ADJ.BusinessService.Dtos.ProgressCheckDto>
 @if (Model.Count() == 0)
 {
<h1>No result match, please try again</h1>
 }
 else{ 
@for (int i = 0; i < Model.Count(); i++)
{
    <div class="uk-container" style="margin-top:50px">
        @Html.HiddenFor(model => model[i].OrderId, new { Value = Model[i].OrderId })
        @Html.HiddenFor(model => model[i].Id, new { Value = Model[i].Id })
        <table border="1">
            <thead style="color:white">
                <tr style="background-color:#333">
                    <td>
                        Supplier
                    </td>
                    <td>
                        Factory
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model[i].Supplier</td>
                    @Html.HiddenFor(model => model[i].Supplier)
                    <td>@Model[i].Factory</td>
                    @Html.HiddenFor(model => model[i].Factory)

                </tr>

            </tbody>
        </table>
        <table border="1">
            <thead style="color:white">
                <tr style="background-color:#333">
                    <td>
                        PO Number
                    </td>
                    <td>
                        PO Quantity
                    </td>
                    <td>
                        PO Check Quantity
                    </td>
                    <td>
                        PO Ship Date
                    </td>
                    <td>
                        Inspection Date
                    </td>
                    <td>
                        Int Ship Date
                    </td>
                    <td>
                        PO Quantity Complete
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model[i].PONumber</td>
                    @Html.HiddenFor(model => model[i].POQuantity)
                    <td>@Model[i].POQuantity</td>
                    @Html.HiddenFor(model => model[i].POQuantity)
                    <td>@Model[i].EstQtyToShip</td>
                    @Html.HiddenFor(model => model[i].EstQtyToShip)
                    <td>@Model[i].ShipDate</td>
                    <td>
                        @Html.TextBoxFor(model => model[i].InspectionDate, Model[i].InspectionDate.ToString("yyyy-MM-dd"), new { type = "date", @class = "uk-input" })
                        @Html.ValidationMessageFor(model => model[i].InspectionDate, "", new { @class = "text-danger" })

                    </td>
                    <td>

                        @Html.TextBoxFor(model => model[i].IntendedShipDate, Model[i].IntendedShipDate.ToString("yyyy-MM-dd"), new { type = "date", @class = "uk-input" })
                        @Html.ValidationMessageFor(model => model[i].IntendedShipDate, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Model[i].Complete
                        @Html.HiddenFor(model => model[i].Complete)
                    </td>
                </tr>

            </tbody>
        </table>
        <table border="1">
            <thead style="color:white">
                <tr style="background-color:#333">
                    <td></td>
                    <td>
                        Item Number
                    </td>
                    <td>
                        Item Quantity
                    </td>
                    <td>
                        Revise Quantity
                    </td>
                </tr>
            </thead>
            <tbody>
                @for (int j = 0; j < Model[i].ListOrderDetailDto.Count(); j++)
                {
                    <tr>
                        <td><input class="uk-checkbox" type="checkbox" value="@Model[i].ListOrderDetailDto[j].Id"></td>
                        @Html.HiddenFor(model => model[i].ListOrderDetailDto[j].Id)
                        <td>@Model[i].ListOrderDetailDto[j].ItemNumber</td>
                        <td>@Model[i].ListOrderDetailDto[j].Quantity</td>
                        @Html.HiddenFor(model => model[i].ListOrderDetailDto[j].Quantity)

                        <td>
                            @Html.TextBoxFor(model => model[i].ListOrderDetailDto[j].ReviseQuantity, new { @class = "uk-input", Type = "Number" })
                            @Html.ValidationMessageFor(model => model[i].ListOrderDetailDto[j].ReviseQuantity, "", new { @class = "text-danger" })

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
}
