@model ADJ.Common.PagedListResult<ADJ.BusinessService.Dtos.ShipmentManifestsDtos>
@if (Model.Items.Count() == 0)
{
  <p class="uk-text-meta uk-text-large">No matching results were found. Please try again</p>
}
else
{
  @for (var i = 0; i < Model.Items.Count(); i++)
  {
    @Html.HiddenFor(model => model.Items[i].Id, new { Value = Model.Items[i].Id })
    <br />
    <br />
    <div class="uk-container">
      <table class="uk-table uk-table-small">
        <thead>
          <tr>
            <td></td>
            <td>
              Container
            </td>
            <td>
              Size
            </td>
            <td>
              Loading
            </td>
            <td>
              Pack Type
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input class="checkbox" type="checkbox" asp-for="Items[i].selectedContainer" />
            </td>
            <td>
              <input id="containerName" asp-for="Items[i].Name" class="uk-input" />
              <span class="uk-text-danger" asp-validation-for="Items[i].Name" id="validationName" hidden></span>
            </td>
            <td>
              @Html.DropDownListFor(model=>model.Items[i].Size,
                    new SelectList(ViewBag.Size),Model.Items[i].Size,new {@class="uk-input" })
            </td>
            <td>
              @Html.DropDownListFor(model=>model.Items[i].Loading,
                  new SelectList(ViewBag.Loading),Model.Items[i].Loading, new { @class = "uk-input" })
            </td>
            <td>
              @Html.DropDownListFor(model=>model.Items[i].PackType,
                  new SelectList(ViewBag.PackType),Model.Items[i].PackType, new { @class = "uk-input" })
            </td>
          </tr>
        </tbody>
      </table>
      <table class="uk-table uk-table-small">
        <thead>
          <tr>
            <td></td>
            <td>
              Supplier
            </td>
            <td>
              Carrier
            </td>
            <td>
              PO Number
            </td>
            <td>
              Item Number
            </td>
            <td>
              ETD Date
            </td>
            <td>
              Booking Quantity
            </td>
            <td>
              Open Quantity
            </td>
            <td>
              Ship Quantity
            </td>
            <td>
              Booking Carton
            </td>
            <td>
              Ship Carton
            </td>
            <td>
              Booking Cube
            </td>
            <td>
              Ship Cube
            </td>
            <td>
              Net Weight
            </td>
            <td>
              Gross Weight
            </td>
            <td>
              Manifested
            </td>
          </tr>
        </thead>
        <tbody>
          @for (var j = 0; j < Model.Items[i].Manifests.Count(); j++)
          {
            @Html.HiddenFor(model => model.Items[i].Manifests[j].BookingId, new { Value = Model.Items[i].Manifests[j].BookingId })
            @Html.HiddenFor(model => model.Items[i].Manifests[j].ItemNumber, new { Value = Model.Items[i].Manifests[j].ItemNumber })
            @Html.HiddenFor(model => model.Items[i].Manifests[j].BookingQuantity, new { Value = Model.Items[i].Manifests[j].BookingQuantity })
            @Html.HiddenFor(model => model.Items[i].Manifests[j].Id, new { Value = Model.Items[i].Manifests[j].Id })

            <tr>
              <td>
                @if (Model.Items[i].Id == 0)
                {
                  <input class="uk-checkbox" type="checkbox" asp-for="Items[i].Manifests[j].selectedItem" />
                }
              </td>
              <td>
                @Model.Items[i].Manifests[j].Supplier
              </td>
              <td>
                @Model.Items[i].Manifests[j].Carrier
              </td>
              <td>
                @Model.Items[i].Manifests[j].PONumber
              </td>
              <td>
                @Model.Items[i].Manifests[j].ItemNumber
              </td>
              <td>
                @Model.Items[i].Manifests[j].ETDDate.ToString("dd/MM/yyyy")
              </td>
              <td>
                @Model.Items[i].Manifests[j].BookingQuantity
              </td>
              <td>
                @Model.Items[i].Manifests[j].OpenQuantity
              </td>
              <td>
                <input id="shipQuantity" asp-for="Items[i].Manifests[j].ShipQuantity" class="uk-input" />
                <span class="uk-text-danger" asp-validation-for="Items[i].Manifests[j].ShipQuantity" id="validationShipQuantity" hidden></span>
              </td>
              <td>
                @Model.Items[i].Manifests[j].BookingCartons
              </td>
              <td>
                @Model.Items[i].Manifests[j].ShipCartons
              </td>
              <td>
                @Model.Items[i].Manifests[j].BookingCube
              </td>
              <td>
                @Model.Items[i].Manifests[j].ShipCube
              </td>
              <td>
                @Model.Items[i].Manifests[j].NetWeight
              </td>
              <td>
                <input asp-for="Items[i].Manifests[j].GrossWeight" class="uk-input" />
              </td>
              <td>
                @Model.Items[i].Manifests[j].Manifested
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  <div class="uk-align-right">
    <ul class="uk-pagination">
      @{
        if (ViewBag.pageIndex > 1)
        {
          <li><a asp-action="Index" asp-controller="Manifest" asp-route-pageIndex="@(ViewBag.pageIndex - 1)" class="page-link"><span uk-pagination-previous></span></a></li>
        }
        for (var i = 1; i <= Model.PageCount; i++)
        {
          if (i == ViewBag.pageIndex)
          {
            <li class="uk-disabled">
              <a asp-action="Index" asp-controller="Manifest" asp-route-pageIndex="@i" class="page-link">@i</a>
            </li>
          }
          else
          {
            <li class="uk-active">
              <a asp-action="Index" asp-controller="Manifest" asp-route-pageIndex="@i" class="page-link">@i</a>
            </li>
          }
        }
        if (ViewBag.pageIndex < Model.PageCount)
        {
          <li><a asp-action="Index" asp-controller="Manifest" asp-route-pageIndex="@(ViewBag.pageIndex + 1)" class="page-link"><span uk-pagination-next></span></a></li>
        }
      }

    </ul>
  </div>
}