@model ADJ.Common.PagedListResult<ADJ.BusinessService.Dtos.ShipmentManifestsDtos>
<form id="manifest" asp-action="CreateOrUpdate" asp-controller="Manifest">
  <div class="uk-container">
    <div class="uk-grid">
      <div class="uk-width-1-3">
        <table class="uk-table">
          <tbody>
            <tr>
              <td><label>Destination Port</label></td>
              <td>
                <div class="uk-form-select" data-uk-form-select>
                  @Html.DropDownList("DestinationPort", new SelectList(ViewBag.Dest), new { @id = "DestinationPort", @class = "uk-select" })
                </div>
              </td>
            </tr>
            <tr>
              <td><label>Origin Port</label></td>
              <td>
                <div class="uk-form-select" data-uk-form-select>
                  @Html.DropDownList("OriginPorts", new SelectList(ViewBag.OriginPorts), new { @id = "OriginPorts", @class = "uk-select" })
                </div>
              </td>
            </tr>
            <tr>
              <td><label>Carrier</label></td>
              <td>
                <div class="uk-form-select" data-uk-form-select>
                  <span></span>
                  @Html.DropDownList("Carriers", new SelectList(ViewBag.Carriers), new { @id = "Carriers", @class = "uk-select" })
                </div>
              </td>
            </tr>
            <tr>
              <td><label>Status</label></td>
              <td>
                <div class="uk-form-select" data-uk-form-select>
                  @Html.DropDownList("Status", new SelectList(ViewBag.Status), "Any", new { @id = "Status", @class = "uk-select" })
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="uk-width-1-3">
        <table class="uk-table">
          <tbody>
            <tr>
              <td><label>Vendor</label></td>
              <td>
                <input id="Vendor" class="uk-input" />
              </td>
            </tr>
            <tr>
              <td><label>ETD From</label></td>
              <td>
                <input id="ETDFrom" type="date" class="uk-input">
              </td>
            </tr>
            <tr>
              <td><label>ETD To</label></td>
              <td>
                <input id="ETDTo" type="date" class="uk-input">
              </td>
            </tr>
            <tr>
              <td><label>PO Number</label></td>
              <td>
                <input id="PONumberSearch" class="uk-input" />

              </td>
            </tr>
            <tr>
              <td><label>Item</label></td>
              <td>
                <input id="ItemSearch" class="uk-input" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="uk-width-1-3">
        <table class="uk-table">
          <tbody>
            <tr>
              <td>
                <button type="button" class="filterItem uk-button uk-button-primary" value=1>Search</button>
              </td>
            </tr>
            <tr>
              <td>
                <input id="Achieve" class="uk-button uk-button-danger" type="submit" data-uk-button value="Achieve">
              </td>
            </tr>

          </tbody>
        </table>

      </div>

    </div>
  </div>
  <div id="renderSearching">
    @for (var i = 0; i < Model.Items.Count(); i++)
    {
      @Html.HiddenFor(model => model.Items[i].Id, new { Value = Model.Items[i].Id })
      <br />
      <br />
      <div class="uk-grid">
        <table class="uk-table uk-table-small">
          <thead>
            <tr>
              <td></td>
              <td>
                Container
              </td>
              <td>
                Size
              </td>
              <td>
                Loading
              </td>
              <td>
                Pack Type
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                @if (Model.Items[i].Id == 0)
                {
                  <input type="checkbox" asp-for="Items[i].selectedContainer" />
                }
              </td>
              <td>
                @{
                  if (Model.Items[i].Id == 0)
                  {
                    <input id="validationName" asp-for="Items[i].Name" class="validationName uk-input" />
                    <span class=" uk-text-danger" asp-validation-for="Items[i].Name" id="validationShipQuantity" hidden></span>
                  }
                  else
                  {
                    <input readonly id="validationName" asp-for="Items[i].Name" class="validationName uk-input" />
                  }

                }

              </td>
              @{
                if (Model.Items[i].Id == 0)
                {
                  <td>
                    <select asp-for="Items[i].Size" asp-items="new SelectList(ViewBag.Size)" class="uk-input filters" id="size"></select>
                  </td>
                  <td>
                    <select asp-for="Items[i].Loading" asp-items="new SelectList(ViewBag.Loading)" class="uk-input filters" id="loading"></select>
                  </td>
                  <td>
                    <select asp-for="Items[i].PackType" asp-items="new SelectList(ViewBag.PackType)" class="uk-input filters" id="packtype"></select>
                  </td>
                }
                else
                {
                  <td>
                    @Model.Items[i].Size
                  </td>
                  <td>
                    @Model.Items[i].Loading
                  </td>
                  <td>
                    @Model.Items[i].PackType
                  </td>
                }
              }
            </tr>
          </tbody>
        </table>
        <table class="uk-table uk-table-small">
          <thead>
            <tr>
              <td></td>
              <td>
                Supplier
              </td>
              <td>
                Carrier
              </td>
              <td>
                PO Number
              </td>
              <td>
                Item Number
              </td>
              <td>
                ETD Date
              </td>
              <td>
                Booking Quantity
              </td>
              <td>
                Open Quantity
              </td>
              <td>
                Ship Quantity
              </td>
              <td>
                Booking Carton
              </td>
              <td>
                Ship Carton
              </td>
              <td>
                Booking Cube
              </td>
              <td>
                Ship Cube
              </td>
              <td>
                Net Weight
              </td>
              <td>
                Gross Weight
              </td>
              <td>
                Manifested
              </td>
            </tr>
          </thead>
          <tbody>
            @for (var j = 0; j < Model.Items[i].Manifests.Count(); j++)
            {
              @Html.HiddenFor(model => model.Items[i].Manifests[j].BookingId, new { Value = Model.Items[i].Manifests[j].BookingId })
              @Html.HiddenFor(model => model.Items[i].Manifests[j].ItemNumber, new { Value = Model.Items[i].Manifests[j].ItemNumber })
              @Html.HiddenFor(model => model.Items[i].Manifests[j].BookingQuantity, new { Value = Model.Items[i].Manifests[j].BookingQuantity })
              @Html.HiddenFor(model => model.Items[i].Manifests[j].Id, new { Value = Model.Items[i].Manifests[j].Id })
              @Html.HiddenFor(model => model.Items[i].Manifests[j].OpenQuantity, new { Value = Model.Items[i].Manifests[j].OpenQuantity })
              @Html.HiddenFor(model => model.Items[i].Manifests[j].NetWeight, new { Value = Model.Items[i].Manifests[j].NetWeight })

              <tr>
                <td>
                  @if (Model.Items[i].Id == 0)
                  {
                    <input type="checkbox" asp-for="Items[i].Manifests[j].selectedItem" />
                  }
                </td>
                <td>
                  @Model.Items[i].Manifests[j].Supplier
                </td>
                <td>
                  @Model.Items[i].Manifests[j].Carrier
                </td>
                <td>
                  @Model.Items[i].Manifests[j].PONumber
                </td>
                <td>
                  @Model.Items[i].Manifests[j].ItemNumber
                </td>
                <td>
                  @Model.Items[i].Manifests[j].ETDDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                  @Model.Items[i].Manifests[j].BookingQuantity
                </td>
                <td>
                  @Model.Items[i].Manifests[j].OpenQuantity
                </td>
                <td>
                  @{
                    if (Model.Items[i].Id > 0)
                    {
                      @Model.Items[i].Manifests[j].ShipQuantity
                    }
                    else
                    {
                      <input id="shipQuantity" asp-for="Items[i].Manifests[j].ShipQuantity" class="validationShipQuantity uk-input" />
                      <span class=" uk-text-danger" asp-validation-for="Items[i].Manifests[j].ShipQuantity" id="validationShipQuantity" hidden></span>
                    }
                  }
                </td>
                <td>
                  @Model.Items[i].Manifests[j].BookingCartons
                </td>
                <td>
                  @Model.Items[i].Manifests[j].ShipCartons
                </td>
                <td>
                  @Model.Items[i].Manifests[j].BookingCube
                </td>
                <td>
                  @Model.Items[i].Manifests[j].ShipCube
                </td>
                <td>
                  @Model.Items[i].Manifests[j].NetWeight
                </td>
                <td>
                  @{
                    if (Model.Items[i].Id > 0)
                    {
                      @Model.Items[i].Manifests[j].GrossWeight
                    }
                    else
                    {
                      <input id="shipQuantity" asp-for="Items[i].Manifests[j].GrossWeight" class="validationShipQuantity uk-input" />
                      <span class=" uk-text-danger" asp-validation-for="Items[i].Manifests[j].GrossWeight" id="" hidden></span>
                    }
                  }

                </td>
                <td>
                  @Model.Items[i].Manifests[j].Manifested
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
    <div class="uk-align-right">
      <ul class="uk-pagination">
        @{
          if (ViewBag.pageIndex > 1)
          {
            <li><a asp-action="Index" asp-controller="Manifest" asp-route-pageIndex="@(ViewBag.pageIndex - 1)" class="page-link"><span uk-pagination-previous></span></a></li>
          }
          for (var i = 1; i <= Model.PageCount; i++)
          {
            if (i == ViewBag.pageIndex)
            {
              <li class="uk-disabled">
                <a asp-action="Index" asp-controller="Manifest" asp-route-pageIndex="@i" class="page-link"><u>@i</u></a>
              </li>
            }
            else
            {
              <li class="uk-active">
                <a asp-action="Index" asp-controller="Manifest" asp-route-pageIndex="@i" class="page-link">@i</a>
              </li>
            }
          }
          if (ViewBag.pageIndex < Model.PageCount)
          {
            <li><a asp-action="Index" asp-controller="Manifest" asp-route-pageIndex="@(ViewBag.pageIndex + 1)" class="page-link"><span uk-pagination-next></span></a></li>
          }
        }

      </ul>
    </div>

  </div>
  <br />
  <br />
</form>
@if (ViewBag.modalResult != null && ViewBag.modalResult != "grossWeightInvalid")
{
  string result = ViewBag.modalResult;
  <button type="button" uk-toggle="target: #modal-center" id="openmodal" hidden="hidden">Open</button>
  <div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      @{
        if (result == "success")
        {
          <p class="uk-text-success">Your shipment is successfully manifested</p>
        }
        else if (result == "invalid")
        {
          <p class="uk-text-danger">Ship Quantity is invalid, please try again</p>
        }
      }
    </div>
  </div>
}
<script src="~/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
  $(document.body).on('click', '.filterItem', function () {
    var pageIndex = $(this).attr("value");
        $.ajax({
            type: "GET",
            dataType:"html",
            url: "@Url.Action("Index", "Manifest")",
            data: {
              pageIndex: pageIndex,
              DestinationPort: $('#DestinationPort').val(),
              OriginPort: $('#OriginPorts').val(),
              Carrier: $('#Carriers').val(),
              ETDFrom: $('#ETDFrom').val(),
              ETDTo: $('#ETDTo').val(),
              PONumber: $('#PONumberSearch').val(),
              Item: $('#ItemSearch').val(),
              Status: $('#Status').val(),
              Vendor: $('#Vendor').val(),
              checkClick: true,
            },
            success: function (data) {
                $('#renderSearching').html(data);
            }
        });
  });
  $(document).ready(function () {
     $('#openmodal').trigger('click');
  });
  $('#manifest').submit(function () {
    var blank = document.getElementsByClassName("validationName");
    for (i = 0; i < blank.length; i++) {
      if (blank[i].value=="") {
        alert("Please fill in all Required fields.")
        break;
      }
    }
    var blank = document.getElementsByClassName("validationShipQuantity");
    for (i = 0; i < blank.length; i++) {
      if (blank[i].value == "") {
        alert("Please fill in all Required fields.")
        break;
      }
    }
  });
</script>



