@model ADJ.Common.PagedListResult<ADJ.BusinessService.Dtos.ShipmentManifestsDtos>
<form id="manifest" asp-action="CreateOrUpdate" asp-controller="Manifest" data-ajax-success="showup" data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#renderSearching">
  <style>
    table.manifestSearch tr td:nth-child(2n+1) {
      text-align: right;
    }
  </style>
  <div class="uk-grid uk-card uk-card-default uk-card-body">
    <h4><a class="uk-link-text" href="/Home">Dashboard</a> > Shipment > <a href="" class="uk-link-text"> Manifest</a></h4>
  </div>
  <div class="uk-grid uk-card uk-card-default uk-table-middle uk-card-body">
    <div class="uk-width-1-3">
      <table class="manifestSearch uk-table">
        <tbody>
          <tr>
            <td><label>Origin Port</label></td>
            <td>
              <div class="uk-form-select" data-uk-form-select>
                @Html.DropDownList("OriginPorts", new SelectList(ViewBag.OriginPorts), new { @id = "OriginPorts", @class = "uk-select" })
              </div>
            </td>
          </tr>
          <tr>
            <td><label>Destination Port</label></td>
            <td>
              <div class="uk-form-select" data-uk-form-select>
                @Html.DropDownList("DestinationPort", new SelectList(ViewBag.Dest), new { @id = "DestinationPort", @class = "uk-select" })
              </div>
            </td>
          </tr>
          <tr>
            <td><label>Carrier</label></td>
            <td>
              <div class="uk-form-select" data-uk-form-select>
                <span></span>
                @Html.DropDownList("Carriers", new SelectList(ViewBag.Carriers), new { @id = "Carriers", @class = "uk-select" })
              </div>
            </td>
          </tr>
          <tr>
            <td><label>Status</label></td>
            <td>
              <div class="uk-form-select" data-uk-form-select>
                @Html.DropDownList("Status", new SelectList(ViewBag.Status), "Any", new { @id = "Status", @class = "uk-select" })
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="uk-width-1-3">
      <table class="manifestSearch uk-table">
        <tbody>
          <tr>
            <td><label>Vendor</label></td>
            <td>
              <input id="Vendor" class="uk-input" />
            </td>
          </tr>
          <tr>
            <td><label>ETD From</label></td>
            <td>
              <input id="ETDFrom" type="date" class="uk-input">
            </td>
          </tr>
          <tr>
            <td><label>ETD To</label></td>
            <td>
              <input id="ETDTo" type="date" class="uk-input">
            </td>
          </tr>
          <tr>
            <td><label>PO Number</label></td>
            <td>
              <input id="PONumberSearch" class="uk-input" type="number" />

            </td>
          </tr>
          <tr>
            <td><label>Item</label></td>
            <td>
              <input id="ItemSearch" class="uk-input" type="number" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="uk-width-1-3">
      <table class="uk-table">
        <tbody>
          <tr>
            <td>
              <button type="button" class="filterItem uk-button uk-button-primary" value=1>Search</button>
            </td>
          </tr>
          <tr>
            <td>
              <button id="achieve" type="submit" class="uk-button uk-button-danger">Achieve</button>
            </td>
          </tr>

        </tbody>
      </table>

    </div>

  </div>
  <div id="renderSearching">
    <partial name="_SearchingManifestPartial" model="Model" />
  </div>
  <br />
  <br />
</form>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
  $(document.body).on('click', '.filterItem', function () {
    var pageIndex = $(this).attr("value");
        $.ajax({
            type: "GET",
            dataType:"html",
            url: "@Url.Action("Index", "Manifest")",
            data: {
              pageIndex: pageIndex,
              DestinationPort: $('#DestinationPort').val(),
              OriginPort: $('#OriginPorts').val(),
              Carrier: $('#Carriers').val(),
              ETDFrom: $('#ETDFrom').val(),
              ETDTo: $('#ETDTo').val(),
              PONumber: $('#PONumberSearch').val(),
              Item: $('#ItemSearch').val(),
              Status: $('#Status').val(),
              Vendor: $('#Vendor').val(),
              checkClick: true,
            },
            success: function (data) {
                $('#renderSearching').html(data);
            }
        });
  });
  $(document).ready(function () {
    $('#openmodal').trigger('click');
  });
  //$('#manifest').submit(function () {
  //  var check = 0;
  //  var blank = document.getElementsByClassName("validationName");
  //  for (i = 0; i < blank.length; i++) {
  //    if (blank[i].value=="") {
  //      check++;
  //      break;
  //    }
  //  }
  //  var blank = document.getElementsByClassName("validationShipQuantity");
  //  for (i = 0; i < blank.length; i++) {
  //    if (blank[i].value == "") {
  //      check++;
  //      break;
  //    }
  //  }
  //  if (check > 0) {
  //    alert("Please fill in all Required fields.");
  //  }
  //});
  $(document.body).on('keyup', '.validationShipQuantity', function () {
    var quantity = $(this).val();
    var id = $(this).attr("id");
    var cartonID = "#carton" + id;
    var cubeID = "#cube" + id;
    var kgsID = "#kgs" + id;
    var shipcartonID = "#shipCarton" + id;
    var shipcubeID = "#shipCube" + id;
    var shipkgsID = "#netWeight" + id;
    var carton = $(cartonID).val();
    var cube = $(cubeID).val();
    var kgs = $(kgsID).val();
    var shipcarton = quantity * carton;
    var shipcube = quantity * cube;
    var netWeight = quantity * kgs;
    $(shipcartonID).val(shipcarton);
    $(shipcubeID).val(shipcube);
    $(shipkgsID).val(netWeight);
  });
  showup = function showup() {
    $(document).ready(function () {
      $('#openmodal').trigger('click');
      $('#successmodal').trigger('click');
      $("#modal-success").on({
        'hide.uk.modal': function () {
          window.location.href = "/Manifest/Index";
        }
      });
    });
  }
</script>



