@model ADJ.Common.PagedListResult<ADJ.BusinessService.Dtos.ProgressCheckDto>
@for (int i = 0; i < Model.Items.Count(); i++)
{
  <div class="uk-grid uk-card uk-card-default uk-card-body  uk-margin-small">
    @Html.HiddenFor(model => model.Items[i].OrderId)
    @Html.HiddenFor(model => model.Items[i].Id)
    @Html.HiddenFor(model => model.Items[i].PONumber)
    @Html.HiddenFor(model => model.Items[i].POQuantity)
    @Html.HiddenFor(model => model.PageCount)
    @Html.HiddenFor(model => model.Items[i].ShipDate)
    @Html.HiddenFor(model => model.Items[i].Supplier)
    @Html.HiddenFor(model => model.Items[i].Factory)
    @Html.HiddenFor(model => model.Items[i].EstQtyToShip)
    @Html.HiddenFor(model => model.Items[i].Complete)
    <table class="uk-table uk-table-striped uk-table-middle uk-table-small">
      <thead>
        <tr>
          <td style="width:5%"></td>
          <td>
            Vendor
          </td>
          <td>
            Factory
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width:5%"></td>
          <td>@Model.Items[i].Supplier</td>
          <td>@Model.Items[i].Factory</td>
        </tr>
      </tbody>
    </table>
    <table class="uk-table uk-table-striped uk-table-middle uk-table-small">
      <thead>
        <tr>
          <td style="width:5%"></td>
          <td>
            PO Number
          </td>
          <td>
            PO Quantity
          </td>
          <td>
            PO Check Quantity
          </td>
          <td>
            PO Ship Date
          </td>
          <td>
            Inspection Date
          </td>
          <td>
            Int Ship Date
          </td>
          <td>
            PO Quantity Complete
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          @if (Model.Items[i].Complete == false)
          {
            <td style="width:5%">
              <input class="uk-checkbox" type="checkbox" asp-for="Items[i].selected" />
            </td>
          }
          else
          {
            <td style="width:5%">
              <input disabled class="uk-checkbox" type="checkbox" />
            </td>
          }
          <td>@Model.Items[i].PONumber</td>
          <td>@Model.Items[i].POQuantity</td>
          <td>@Model.Items[i].EstQtyToShip</td>
          <td>@Model.Items[i].ShipDate.ToString("MM/dd/yyyy")</td>
          @{
            if (Model.Items[i].Complete == true)
            {
              <td>
                <input readonly type="date" asp-for="Items[i].InspectionDate" class=" uk-input" />
              </td>
              <td>
                <input readonly type="date" asp-for="Items[i].IntendedShipDate" class=" uk-input" />
              </td>
            }
            else
            {
              <td>
                <input type="date" asp-for="Items[i].InspectionDate" class=" uk-input" />
                <span class=" uk-text-danger" asp-validation-for="Items[i].InspectionDate"></span>
              </td>
              <td>
                <input type="date" asp-for="Items[i].IntendedShipDate" class=" uk-input" />
                <span class=" uk-text-danger" asp-validation-for="Items[i].IntendedShipDate"></span>
              </td>
            }
          }

          <td>
            @if (@Model.Items[i].Complete == true)
            {
              <p>YES</p>
            }
            else
            {
              <p>NO</p>
            }
          </td>
        </tr>
      </tbody>
    </table>
    <table class="uk-table uk-table-striped uk-table-middle uk-table-small">
      <thead>
        <tr>
          <td style="width:5%"></td>
          <td>
            Item Number
          </td>
          <td>
            Item Quantity
          </td>
          <td>
            Revise Quantity
          </td>
        </tr>
      </thead>
      <tbody>
        @for (int j = 0; j < Model.Items[i].ListOrderDetailDto.Count(); j++)
        {
          @Html.HiddenFor(model => model.Items[i].ListOrderDetailDto[j].Id)
          @Html.HiddenFor(model => model.Items[i].ListOrderDetailDto[j].Quantity)
          @Html.HiddenFor(model => model.Items[i].ListOrderDetailDto[j].ItemNumber)
          <tr>
            @if (Model.Items[i].Complete == false)
            {
              <td style="width:5%">
                <input class="uk-checkbox" type="checkbox" asp-for="Items[i].ListOrderDetailDto[j].selected" />
              </td>
            }
            else
            {
              <td style="width:5%">
                <input disabled class="uk-checkbox" type="checkbox" />
              </td>
            }
            <td>@Model.Items[i].ListOrderDetailDto[j].ItemNumber</td>
            <td>@Model.Items[i].ListOrderDetailDto[j].Quantity</td>
            @{
              if (Model.Items[i].Complete == true)
              {
                <td>
                  <input readonly type="number" asp-for="Items[i].ListOrderDetailDto[j].ReviseQuantity" class=" uk-input" />
                </td>
              }
              else
              {
                <td>
                  <input type="number" asp-for="Items[i].ListOrderDetailDto[j].ReviseQuantity" class=" uk-input" />
                  <span class=" uk-text-danger" asp-validation-for="Items[i].ListOrderDetailDto[j].ReviseQuantity"></span>
                </td>
              }
            }

          </tr>
        }
      </tbody>
    </table>
  </div>
  <br />
}

<div class="uk-align-right">
  <ul class="uk-pagination">
    @{
      if (ViewBag.pageIndex > 1)
      {
        <li><a value="@(ViewBag.pageIndex - 1)" class="filterItem page-link"><span uk-pagination-previous></span></a></li>
      }
      for (var i = 1; i <= Model.PageCount; i++)
      {
        if (i == ViewBag.pageIndex)
        {
          <li class="uk-disabled">
            <a value="@i" class="filterItem page-link"><u>@i</u></a>
          </li>
        }
        else
        {
          <li class="uk-active">
            <a value="@i" class="filterItem page-link">@i</a>
          </li>
        }
      }
      if (ViewBag.pageIndex < Model.PageCount)
      {
        <li><a value="@(ViewBag.pageIndex + 1)" class="filterItem page-link"><span uk-pagination-next></span></a></li>
      }
    }

  </ul>
</div>
@if (ViewBag.check == 1)
{
  <button type="button" uk-toggle="target: #modal-center" id="openmodal" hidden="hidden">Open</button>
  <div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      @foreach (var item in ViewBag.POUpdate)
      {
        <p class="uk-text-success uk-text-bold">Your PO @item has been successfully updated</p>
      }
    </div>
  </div>
}
@if (ViewBag.check == 2)
{
  <button type="button" uk-toggle="target: #modal-center" id="openmodal" hidden="hidden">Open</button>
  <div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      <button class="uk-modal-close-default" type="button" uk-close></button>

      <p class="uk-text-danger uk-text-bold">Invalid value.Please try again</p>

    </div>
  </div>
}