@model ADJ.Common.PagedListResult<ADJ.BusinessService.Dtos.ProgressCheckDto>
<form id="progresscheck" asp-action="CreateOrUpdate" asp-controller="ProgressCheck" data-ajax-complete="showup" data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#renderSearching">
  <style>
    table.progressCheckSearch tr td:nth-child(2n+1) {
      text-align: right;
    }
  </style>
  <div class="uk-grid uk-card uk-card-default uk-card-body">
    <h4><a class="uk-link-text" href="/Home">Dashboard</a> > <a class="uk-link-text" href="">Progress Check</a></h4>
  </div>
  <div class="uk-grid uk-card uk-card-default uk-card-body uk-table-middle uk-margin-auto-bottom">
    <div class="uk-width-1-3">
      <table class="progressCheckSearch uk-table">
        <tbody>
          <tr>
            <td><label>Origin</label></td>
            <td>
              <div onchange="changePorts()" class="uk-form-select" data-uk-form-select>
                @Html.DropDownList("Origins", new SelectList(ViewBag.Origins), new { @id = "Origins", @class = "uk-select" })
              </div>
            </td>
          </tr>
          <tr>
            <td><label>Origin Port</label></td>
            <td>
              <div class="col-md-10">
                <select class="uk-select ports" id="OriginPorts"></select>
                <span class="uk-alert-danger"></span>
              </div>
            </td>
          </tr>
          <tr>
            <td><label>Factory</label></td>
            <td>
              <div class="uk-form-select" data-uk-form-select>
                <span></span>
                @Html.DropDownList("Factories", new SelectList(ViewBag.Factories), "Any", new { @id = "Factories", @class = "uk-select" })
              </div>
            </td>
          </tr>
          <tr>
            <td><label>Vendor</label></td>
            <td>
              <div class="uk-form-select" data-uk-form-select>
                @Html.DropDownList("Vendor", new SelectList(ViewBag.Suppliers), "Any", new { @id = "Vendor", @class = "uk-select" })
              </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="uk-width-1-3">
      <table class="progressCheckSearch uk-table">
        <tbody>
          <tr>
            <td><label>Dept</label></td>
            <td>
              <div class="uk-form-select" data-uk-form-select>
                @Html.DropDownList("Depts", new SelectList(ViewBag.Depts), "Any", new { @id = "Depts", @class = "uk-select" })

              </div>
            </td>
          </tr>
          <tr>
            <td><label>PO Number</label></td>
            <td>
              <input id="PONumberSearch" type="number" class="uk-input" />

            </td>
          </tr>
          <tr>
            <td><label>Item</label></td>
            <td>
              <input id="ItemSearch" type="number" class="uk-input" />
            </td>
          </tr>
          <tr>
            <td><label>Status</label></td>
            <td>
              <div class="uk-form-select" data-uk-form-select>
                @Html.DropDownList("Status", new SelectList(ViewBag.Status), "Any", new { @id = "Status", @class = "uk-select" })
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="uk-width-1-3">
      <table class="uk-table">
        <tbody>
          <tr>
            <td>
              <button type="button" class="filterItem uk-button uk-button-primary" value=1>Search</button>
            </td>
          </tr>
          <tr>
            <td>
              <button id="Achieve" class="uk-button uk-button-danger" type="submit" data-uk-button value="Achieve">Achieve</button>
            </td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>
  <br />
  <br />
  <div id="renderSearching">
    <partial name="_SearchingPartial" model="Model" />
  </div>
</form>
@foreach (var item in ViewBag.VNPorts)
{
  <p class="vnPorts" hidden="hidden">@item</p>
}

@foreach (var item in ViewBag.HKPorts)
{
  <p class="hkPorts" hidden="hidden">@item</p>
}
<script src="~/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
  $(document.body).on('click', '.filterItem', function () {
    var pageIndex = $(this).attr("value");
        $.ajax({
            type: "GET",
            dataType:"html",
            url: "@Url.Action("Index", "ProgressCheck")",
            data: {
                pageIndex:pageIndex,
                Vendor: $('#Vendor').val(),
                Factories: $('#Factories').val(),
                Origins: $('#Origins').val(),
              OriginPorts: $('#OriginPorts option:selected').val(),
                Depts: $('#Depts').val(),
                PONumberSearch: $('#PONumberSearch').val(),
                ItemSearch: $('#ItemSearch').val(),
                Status: $('#Status').val(),
                checkClick:true,
            },
            success: function (data) {
                $('#renderSearching').html(data);
            }
        });
    });
    $("#Achieve").click(function (event) {
      if (!confirm('Are you sure that you want to submit the form'))
        event.preventDefault();
  });
  $(document).ready(function () {
    $('#openmodal').trigger('click');
    changePorts();
  });
  function changePorts() {
    var origin = $("#Origins").val();
    var vnPorts = document.getElementsByClassName("vnPorts");
    var hkPorts = document.getElementsByClassName("hkPorts");
    var ports = document.getElementsByClassName("ports");
    var options = [];
    if (origin == "Vietnam") {
      $.each(vnPorts, function () {
        options.push($(this).text());
      });
    }
    else if (origin == "HongKong") {
      $.each(hkPorts, function () {
        options.push($(this).text());
      });
    }
    for (i = 0; i < ports.length; i++) {
      ports[i].options.length = 0;
      ports[i].options[ports[i].options.length] = new Option("Any","");
      for (j = 0; j < options.length; j++) {
        ports[i].options[ports[i].options.length] = new Option(options[j], options[j]);
      }
    }
  };
  showup = function showup() {
    $(document).ready(function () {
      $('#openmodal').trigger('click');
      changePorts();
    });
  }
</script>



