@model ADJ.BusinessService.Dtos.ShipmentBookingDtos;
<!--Result Popup-->
@if (ViewBag.ShowModal != null)
{
  string modal = ViewBag.ShowModal;
  <button type="button" uk-toggle="target: #resultModal" id="openmodal" hidden="hidden">Open</button>

  <div id="resultModal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      @if (modal == "Updated")
      {
        <h2 class="uk-modal-title">Shipment created</h2>
        <p>Shipment contain following items: </p>
        @foreach (var item in Model.OrderDetails)
        {
          @if (item.Selected)
          {
            <span>@item.ItemNumber </span>
          }
        }
      }
      @if (modal == "NoResult")
      {
        <p>Cannot find any record match filter.</p>
      }
      <p class="uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
      </p>

    </div>
  </div>
}

<!--Booking-->
<div class="uk-card uk-card-default uk-card-body">
  <div class="uk-grid">
    <div class="uk-width-2-3">
      <table class="uk-table uk-table-small uk-table-middle">
        <tr>
          <td>
            <label asp-for="PortOfLoading"></label>
          </td>
          <td>
            <select asp-for="PortOfLoading" asp-items="new SelectList(ViewBag.Ports)" class="uk-input booking"></select>
            <span asp-validation-for="PortOfLoading" class="uk-alert-danger"></span>
          </td>
          <td>
            <label asp-for="PortOfDelivery"></label>
          </td>
          <td>
            <select asp-for="PortOfDelivery" asp-items="new SelectList(ViewBag.Ports)" class="uk-input booking"></select>
            <span asp-validation-for="PortOfDelivery" class="uk-alert-danger"></span>
          </td>
        </tr>
        <tr>
          <td>
            <label asp-for="Carrier"></label>
          </td>
          <td>
            <select asp-for="Carrier" asp-items="new SelectList(ViewBag.Carriers)" class="uk-input booking"></select>
            <span asp-validation-for="Carrier" class="uk-alert-danger"></span>
          </td>
          <td>
            <label asp-for="Mode"></label>
          </td>
          <td>
            <select asp-for="Mode" asp-items="new SelectList(ViewBag.Modes)" class="uk-input booking"></select>
            <span asp-validation-for="Mode" class="uk-alert-danger"></span>
          </td>
        </tr>
        <tr>
          <td>
            <label asp-for="ETD"></label>
          </td>
          <td>
            <input asp-for="ETD" type="date" value=@DateTime.Now.ToString("yyyy-MM-dd") class="uk-input booking" />
            <span asp-validation-for="ETD" class="uk-alert-danger"></span>
          </td>
          <td>
            <label asp-for="ETA"></label>
          </td>
          <td>
            <input asp-for="ETA" type="date" value=@DateTime.Now.ToString("yyyy-MM-dd") class="uk-input booking" />
            <span asp-validation-for="ETA" class="uk-alert-danger"></span>
          </td>
        </tr>
      </table>
    </div>
    <div class="uk-width-1-3">
      <button type="submit" value="Book" name="method" class="uk-button uk-button-primary bookButton">Make Booking</button>
    </div>
  </div>
</div>

<hr class="uk-divider-icon" />

@if (Model.OrderDetails != null)
{
  @if (Model.OrderDetails.Count > 0)
  {
    <div class="uk-card uk-card-default uk-card-body">
      <!--Paging-->
      @{
        int pageSize = ViewBag.PageSize;
        int currentPage = ViewBag.Page;
        int totalPage = Model.OrderDetails.Count / pageSize;
        @if (Model.OrderDetails.Count % pageSize > 0) { totalPage++; }

        int total = Model.OrderDetails.Count;
        int start = (currentPage - 1) * pageSize;
        int end = currentPage * pageSize;
        if (end > total) { end = total; }

        <ul class="uk-pagination uk-flex-center">
          @if (currentPage > 1)
          {
            <li><a value="Previous @(currentPage - 1)" name="method" class="paging"><span uk-pagination-previous></span></a></li>
          }

          @for (int i = 1; i <= totalPage; i++)
          {
            if (i == currentPage)
            {
              <li class="uk-active"><a value="Page @i" name="method" class="paging">@i</a></li>
            }
            else
            {
              <li><a value="Page @i" name="method" class="paging">@i</a></li>
            }
          }

          @if (currentPage < totalPage)
          {
            <li><a value="Next @(currentPage + 1)" name="method" class="paging"><span uk-pagination-next></span></a></li>
          }
        </ul>

        <div class="uk-grid-divider" uk-grid></div>

        <!--Item Detail-->
        <table class="uk-table uk-table-small uk-table-middle uk-table-striped uk-table-hover">
          <!--header-->
          <thead>
            <tr>
              <th></th>
              <th>
                <label asp-for="OrderDetails[0].PONumber"></label>
              </th>
              <th>
                <label asp-for="OrderDetails[0].ItemNumber"></label>
              </th>
              <th>
                <label asp-for="OrderDetails[0].Vendor"></label>
              </th>
              <th>
                <label asp-for="OrderDetails[0].Quantity"></label>
              </th>
              <th>
                <label asp-for="OrderDetails[0].BookingQuantity"></label>
              </th>
              <th>
                <label asp-for="OrderDetails[0].BookingCartons"></label>
              </th>
              <th>
                <label asp-for="OrderDetails[0].BookingCube"></label>
              </th>
              <th>
                <label asp-for="OrderDetails[0].PackType"></label>
              </th>
              <th>
                <label asp-for="OrderDetails[0].POShipDate"></label>
              </th>
              <th>
                <label asp-for="OrderDetails[0].Status"></label>
              </th>
            </tr>
          </thead>

          <!--filter result-->
          @for (int i = 0; i < Model.OrderDetails.Count(); i++)
          {
            <tr style="display: none">
              <td>
                <input type="hidden" asp-for="OrderDetails[i].PONumber" />
                <input type="hidden" asp-for="OrderDetails[i].ItemNumber" />
                <input type="hidden" asp-for="OrderDetails[i].Vendor" />
                <input type="hidden" asp-for="OrderDetails[i].Quantity" />
                <input type="hidden" asp-for="OrderDetails[i].BookingQuantity" />
                <input type="hidden" asp-for="OrderDetails[i].BookingCartons" />
                <input type="hidden" asp-for="OrderDetails[i].BookingCube" />
                <input type="hidden" asp-for="OrderDetails[i].POShipDate" />
                <input type="hidden" asp-for="OrderDetails[i].Status" />
              </td>
            </tr>

            if ((i >= start) && (i < end))
            {
              <tr>
                <td>
                  <input type="checkbox" asp-for="OrderDetails[i].Selected" class="uk-checkbox booking" />
                </td>
                <td>
                  @Model.OrderDetails[i].PONumber
                </td>
                <td>
                  @Model.OrderDetails[i].ItemNumber
                </td>
                <td>
                  @Model.OrderDetails[i].Vendor
                </td>
                <td>
                  @Model.OrderDetails[i].Quantity
                </td>
                <td>
                  @Model.OrderDetails[i].BookingQuantity
                </td>
                <td>
                  @Model.OrderDetails[i].BookingCartons
                </td>
                <td>
                  @Model.OrderDetails[i].BookingCube
                </td>
                <td>
                  <select asp-for="OrderDetails[i].PackType" asp-items="new SelectList(ViewBag.PackTypes)" class="uk-input booking"></select>
                  <span asp-validation-for="OrderDetails[i].PackType" class="uk-alert-danger"></span>
                </td>
                <td>
                  @Model.OrderDetails[i].POShipDate.ToString("MM-dd-yyyy")
                </td>
                <td>
                  @Model.OrderDetails[i].Status
                </td>
              </tr>
            }
          }
        </table>
      }
    </div>
  }
}
