@model ADJ.BusinessService.Dtos.ShipmentBookingDtos;
<!--Result Popup-->
@if (ViewBag.ShowModal != null)
{
  string modal = ViewBag.ShowModal;
  <button type="button" uk-toggle="target: #resultModal" id="openmodal" hidden="hidden">Open</button>

  <div id="resultModal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      @switch (modal)
      {
        case "Updated":
          <h2 class="uk-modal-title">Shipment created</h2>
          <p class="uk-text-success uk-text-bold">Shipment contain following items: </p>

          string message = "";
          for (int i = 0; i < Model.OrderDetails.Count; i++)
          {
            if (Model.OrderDetails[i].Selected)
            {
              message += Model.OrderDetails[i].ItemNumber + ", ";
              Model.OrderDetails[i].Selected = false;
            }
          }
          message = message.Remove(message.Length - 2);

          if (message.LastIndexOf(",") > 0)
          {
            string endMsg = message.Substring(message.LastIndexOf(",") + 2);
            message = message.Substring(0, message.LastIndexOf(","));
            message += " and " + endMsg;
          }

          <span class="uk-text-success uk-text-bold">@message</span>
          break;
        case "NoItem":
          <p class="uk-text-danger uk-text-bold">Please select at least 1 item.</p>
          break;
      }

      <p class="uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
      </p>

    </div>
  </div>


}

<!--Booking-->
<style>
  table#bookingTable tr td:nth-child(2n+1) {
    text-align: right;
  }
</style>
<div class="uk-card uk-card-default uk-card-body">
  <table id="bookingTable" class="uk-table uk-table-small uk-table-middle" style="table-layout: fixed; text-align: left;">
    <tr>
      <td width="10%">
        <label asp-for="PortOfLoading"></label>
      </td>
      <td width="30%">
        <select asp-for="PortOfLoading" value=@Model.PortOfLoading class="uk-select booking ports"></select>
        <span asp-validation-for="PortOfLoading" class="uk-alert-danger"></span>
      </td>
      <td width="5%"></td>
      <td style="display: none"></td>
      <td width="10%">
        <label asp-for="PortOfDelivery"></label>
      </td>
      <td width="30%">
        <select asp-for="PortOfDelivery" value=@Model.PortOfDelivery class="uk-select booking ports"></select>
        <span asp-validation-for="PortOfDelivery" class="uk-alert-danger"></span>
      </td>
      <td width="15%" style="text-align: center">
        <button type="button" value="Book" name="method" class="uk-button uk-button-danger bookButton" id="makeBooking">Make Booking</button>
      </td>
    </tr>
    <tr>
      <td>
        <label asp-for="Carrier"></label>
      </td>
      <td>
        <select asp-for="Carrier" asp-items="new SelectList(ViewBag.Carriers)" class="uk-select booking"></select>
        <span asp-validation-for="Carrier" class="uk-alert-danger"></span>
      </td>
      <td></td>
      <td style="display: none"></td>
      <td>
        <label asp-for="Mode"></label>
      </td>
      <td>
        <select asp-for="Mode" asp-items="new SelectList(ViewBag.Modes)" class="uk-select booking"></select>
        <span asp-validation-for="Mode" class="uk-alert-danger"></span>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <label asp-for="ETD"></label>
      </td>
      <td>
        <input asp-for="ETD" type="date" value=@Model.ETD.ToString("yyyy-MM-dd") class="uk-input booking" id="ETD" />
        <span asp-validation-for="ETD" class="uk-alert-danger"></span>
        <span class="uk-alert-danger" id="ETDError"></span>
      </td>
      <td></td>
      <td style="display: none"></td>
      <td>
        <label asp-for="ETA"></label>
      </td>
      <td>
        <input asp-for="ETA" type="date" value=@Model.ETA.ToString("yyyy-MM-dd") class="uk-input booking" id="ETA" />
        <span asp-validation-for="ETA" class="uk-alert-danger"></span>
        <span class="uk-alert-danger" id="ETAError"></span>
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <span id="earliestShipDate"></span>
      </td>
      <td colspan="2"></td>
      <td>
        <span id="latestDeliveryDate"></span>
      </td>
      <td></td>
    </tr>
  </table>
</div>

<br />
<div class="uk-card uk-card-default uk-card-body">
  @if ((Model.OrderDetails != null) && (Model.OrderDetails.Count > 0))
  {
    int pageSize = ViewBag.PageSize;
    int currentPage = ViewBag.Page;
    int totalPage = Model.OrderDetails.Count / pageSize;
    @if (Model.OrderDetails.Count % pageSize > 0) { totalPage++; }

    int total = Model.OrderDetails.Count;
    int start = (currentPage - 1) * pageSize;
    int end = currentPage * pageSize;
    if (end > total) { end = total; }

    <!--Item Detail-->
    <table class="uk-table uk-table-striped uk-table-small uk-table-middle  uk-table-hover">
      <!--header-->
      <thead>
        <tr>
          <th>
            <input type="checkbox" class="uk-checkbox" id="checkAll" />
          </th>
          <th>
            <label asp-for="OrderDetails[0].ShipmentID"></label>
          </th>
          <th>
            <label asp-for="OrderDetails[0].PONumber"></label>
          </th>
          <th>
            <label asp-for="OrderDetails[0].ItemNumber"></label>
          </th>
          <th>
            <label asp-for="OrderDetails[0].Vendor"></label>
          </th>
          <th>
            <label asp-for="OrderDetails[0].Quantity"></label>
          </th>
          <th>
            <label asp-for="OrderDetails[0].BookingQuantity"></label>
          </th>
          <th>
            <label asp-for="OrderDetails[0].BookingCartons"></label>
          </th>
          <th>
            <label asp-for="OrderDetails[0].BookingCube"></label>
          </th>
          <th>
            <label asp-for="OrderDetails[0].PackType"></label>
          </th>
          <th>
            <label asp-for="OrderDetails[0].POShipDate"></label>
          </th>
          <th>
            <label asp-for="OrderDetails[0].Status"></label>
          </th>
        </tr>
      </thead>

      <tbody>
        <!--filter result-->
        @for (int i = 0; i < Model.OrderDetails.Count(); i++)
        {
          <tr>
            <td style="display: none">
              <input type="hidden" asp-for="OrderDetails[i].OrderId" />
              <input type="hidden" asp-for="OrderDetails[i].PONumber" />
              <input type="hidden" asp-for="OrderDetails[i].ItemNumber" />
              <input type="hidden" asp-for="OrderDetails[i].Vendor" />
              <input type="hidden" asp-for="OrderDetails[i].Quantity" />
              <input type="hidden" asp-for="OrderDetails[i].BookingQuantity" />
              <input type="hidden" asp-for="OrderDetails[i].Cartons" />
              <input type="hidden" asp-for="OrderDetails[i].Cube" />
              <input type="hidden" asp-for="OrderDetails[i].POShipDate"/>
              <input type="hidden" asp-for="OrderDetails[i].DeliveryDate"/>
              <input type="hidden" asp-for="OrderDetails[i].Status" />
              <input type="hidden" asp-for="OrderDetails[i].StatusDescription" />
            </td>

            @if ((i >= start) && (i < end))
            {
              <td>
                <input type="checkbox" asp-for="OrderDetails[i].Selected" class="uk-checkbox booking checkBoxes" />
              </td>
              <td class="uk-text-truncate" title="@Model.OrderDetails[i].ShipmentID.ToString()">
                @if (Model.OrderDetails[i].Status == ADJ.Common.OrderStatus.BookingMade)
                {
                  @Model.OrderDetails[i].ShipmentID.ToString()
                }
                else
                {
                  <span>N/A</span>
                }
              </td>
              <td>
                @Model.OrderDetails[i].PONumber
              </td>
              <td>
                @Model.OrderDetails[i].ItemNumber
              </td>
              <td>
                @if (Model.OrderDetails[i].Vendor == null)
                {
                  <span>N/A</span>
                }
                else
                {
                  <span>@Model.OrderDetails[i].Vendor</span>
                }
              </td>
              <td>
                @Model.OrderDetails[i].Quantity.ToString("N0")
              </td>
              <td>
                @Model.OrderDetails[i].BookingQuantity.ToString("N0")
              </td>
              <td>
                @Model.OrderDetails[i].BookingCartons
              </td>
              <td>
                @Model.OrderDetails[i].BookingCube
              </td>
              <td>
                <select asp-for="OrderDetails[i].PackType" asp-items="new SelectList(ViewBag.PackTypes)" class="uk-select booking"></select>
                <span asp-validation-for="OrderDetails[i].PackType" class="uk-alert-danger"></span>
              </td>
              <td >
                <span id="ShipDate_@(i-start)" string=@Model.OrderDetails[i].POShipDate.ToString("yyyyMMdd") ></span>
                <span id="DeliveryDate_@(i-start)" string=@Model.OrderDetails[i].DeliveryDate.ToString("yyyyMMdd") ></span>
                @Model.OrderDetails[i].POShipDate.ToString("MM/dd/yyyy")
              </td>
              <td>
                @Model.OrderDetails[i].StatusDescription
              </td>
            }
            else
            {
              <td style="display: none">
                <input type="checkbox" asp-for="OrderDetails[i].Selected" hidden="hidden" />
                <input type="hidden" asp-for="OrderDetails[i].PackType" />
              </td>
            }
          </tr>
        }
      </tbody>
    </table>

    <!--Paging-->
    <ul class="uk-pagination uk-flex-right">
      @if (currentPage > 1)
      {
        <li><a value="Previous @(currentPage - 1)" name="method" class="paging"><span uk-pagination-previous></span></a></li>
      }

      @for (int i = 1; i <= totalPage; i++)
      {
        if (i == currentPage)
        {
          <li class="uk-disabled"><a value="Page @i" name="method" class="paging"><u>@i</u></a></li>
        }
        else
        {
          <li><a value="Page @i" name="method" class="paging">@i</a></li>
        }
      }

      @if (currentPage < totalPage)
      {
        <li><a value="Next @(currentPage + 1)" name="method" class="paging"><span uk-pagination-next></span></a></li>
      }
    </ul>
  }
  else
  {
    <p class="uk-text-meta uk-text-large">No matching results were found. Please try again</p>
  }
</div>
